{% include head.html %}
<body>
  <header>
    <div class="logo" id="logo">
      <span class="logo-first">James</span>
      <span class="logo-last" >Coyle</span>
    </div>
    <div class="nav">
      <a href="/about">About</a>
      <a href="/#writing">Writing</a>
      <ul class="nav-social">
        <a href="https://dribbble.com/jpex" target="_blank" class="i_dribbble"><i class="fab fa-dribbble"></i></a>
        <a target="_blank" href="https://codepen.io/jpex"><i class="fab fa-codepen"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/james-coyle-495727a1/"><i class="fab fa-linkedin-in"></i></a>
      </ul>
    </div>
  </header>
