{% include head.html %}
<body>
  <header class="header-mini">
    <a href='/' class="back-arrow">Home</a>
    <div class="nav">
      <a href="/about">About</a>
      <a href="/#writing">Writing</a>
      <ul class="nav-social">
        <a href="https://dribbble.com/jpex" target="_blank" class="i_dribbble"><i class="fab fa-dribbble"></i></a>
        <a target="_blank" href="https://codepen.io/jpex" class="i_codepen"><i class="fab fa-codepen"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/james-coyle-495727a1/" class="i_linkedin"><i class="fab fa-linkedin-in"></i></a>
      </ul>
    </div>
  </header>
