*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  background: rgba(38,38,38,1);
  color: #f3f3f3;
  font-family: "adelle-sans", sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
}

span { color: #c0c0c0; }

a {
  border-bottom: 2px solid transparent;
  color: #c0c0c0;
  text-decoration: none;
  transition: 0.3s all ease-in;
  &:hover { color: #f3f3f3; border-bottom: 2px solid #666; }
}

.container {
  -webkit-animation: Grad 30s ease infinite;
  background: linear-gradient(135deg, rgba(22,22,22,1) 0%,transparent 100%);
  background: -moz-linear-gradient(135deg, rgba(22,22,22,1) 0%,rgba(22,22,22,1) 100%);
  background-size: 400% 400%;
  padding: 100px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  line-height: 1.7;
}

.email { margin-top: 30px; font-size: 14px; display: block; }

.nav-social {
  font-size: 24px;
  max-width: 100px;
  a {
    border: none;
    display: inline-block;
    color: #666;
    margin-top: 24px;
    margin-right: 19px;
    &:hover { color: #f3f3f3; border: none; }
  }
}

h1 { font-size: 24px; }
h2 { font-size: 14px; }
h3 { font-size: 18px; color: #c0c0c0; }
h4 { font-size: 14px; color: #c0c0c0; margin-top: 65px; }


@media (max-width: 530px) {
  .container {
    padding:38px;
  }
  h1 { font-size: 18px; }
  h3 { font-size: 14px; }
}

@-webkit-keyframes Grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
