@import 'persona';
@import 'tree';

@font-face {
 font-family: 'SomeType Mono';
 font-style: normal;
 font-weight: 300;
 src: url('/fonts/SometypeMono-Regular.otf') format('opentype');
}

*, *:before, *:after { box-sizing: border-box;}

html {
  background: #FFF;
  font-family: "adelle-sans", sans-serif;
  color: #202020;
}

a, a .card-title {
  text-decoration: none;
  transition: 0.3s all ease;

}

p a, .nav a, li a, a .card-title {
  &:hover { background: #D84B6E; color: #FFF; border-radius: 3px; }
}



p a, li a, a .card-title {
  background: linear-gradient(#fffff8, #fffff8),linear-gradient(#fffff8, #fffff8),linear-gradient(#777, #777);
  background-size: 0.05em 1px,0.05em 1px,1px 1px;
  background-repeat: no-repeat,no-repeat,repeat-x;
  background-position: 0% 93%,100% 93%,0% 93%;
}

.logo {
  font-family: "brothers", sans-serif;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #202020;
}

.logo-last {
  letter-spacing: 1.7px;
}

header {
  padding: 30px 25px;
  @media (min-width: 768px) {
    padding: 40px 50px;
  }
  @media (min-width: 1340px) {
    padding: 40px 100px;
  }
}

.header-mini {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 25px;
  @media (max-width: 700px) {
    .nav { display: none; }
  }
  @media (min-width: 1240px) {
    padding: 25px 100px;
  }
}

.back-arrow {
  font-family: "SomeType Mono", monospace;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 18px;
  &:before {
    content: "";
    display: inline-block;;
    background-image: url('/images/arrow.png');
    width:  96px * 0.25;
    height: 52px * 0.25;
    background-size: 96px * 0.25 52px * 0.25;
    margin-right: 10px;
  }
}

.intro {
  color: #555;
  font-size: 22px;
  margin: 10px 25px 50px;
  a { color: #555; }
  @media (min-width: 768px) {
    margin: 10px 50px 80px;
  }
  @media (min-width: 1340px) {
    margin: 10px 100px 125px;
  }
}

.bold {
  font-weight: 700;
}

.home-h2 {
  font-family: "brothers", sans-serif;
  font-size: 24px;
  max-width: 1240px;
  margin: 0 25px 25px;
  padding-top: 50px;
  @media (min-width: 768px) {
    margin: 0 50px 25px;
  }
  @media (min-width: 1240px) {
    margin: 0 100px 25px;
  }
  @media (min-width: 1340px) {
    margin: 0 auto 25px;
  }
}


.card {
  margin: 25px 5px 25px;
  padding: 15px 25px;
  background: #f5f0f0;
  max-width: 1340px;
  img { max-width: 100%; height: auto; }
  @media (min-width: 768px) {
    padding: 30px 50px;
    margin: 25px;
  }
  @media (min-width: 1240px) {
    margin: 25px auto 50px;
    padding: 60px 100px;
  }
}

.card.ui {
  padding: 0;
}

.card-title {
  font-size: 30px;
  line-height: 1.3;
  color: #555555;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    font-size: 36px;
  }
  @media (min-width: 1240px) {
    margin-bottom: 40px;
    font-size: 48px;
  }
  .bold { color: #202020; }

}

a .card-title {
  color: #202020;
  display: inline-block;
}
a:last-child .card-title { margin-bottom: 0;}

.card-number {
  font-family: "brothers", sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
}

.card-info {
  display: flex;
  margin-top: 60px;
  width: 100%;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.symbol-no {
  background-image: url('/images/no.png');
  background-size: (56px * 0.5) (36px * 0.5);
  display: inline-block;
  width: 56px * 0.5;
  height: 36px * 0.5;
  margin-right: 8px;
}

.card-btn {
  font-family: "brothers", sans-serif;
  background: #38383D;
  padding: 16px;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;;
  height: 57px;
  &:hover { background-color: #D84B6E;}
  @media (max-width: 768px) { width: 100%; }
}

.quick-info {
  font-family: "SomeType Mono", monospace;
  color: #555;
  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 15px;
  }
  li { display: flex; line-height: 2; }
}  .quick-info-a {
  font-weight: 700;
  min-width: 93px;
  text-transform: uppercase;
} .quick-info-b {
  min-width: 190px;
  max-width: 190px;
}

header {
  display: flex;
  //align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: flex-start;
  @media (max-width: 600px) {
    align-items: stretch;
    text-align: right;
    flex-direction: column;
    line-height: 1.7;
  }
  a {
    font-family: "SomeType Mono", monospace;
    text-transform: uppercase;
    margin-left: 40px;
    color: #555;
    font-size: 18px;
    display: inline-block;
    padding: 3px 5px;
    .header-mini & { color: rgba(#FFF,0.3);
      &:hover { color: #FFF; }
    }
  }
}


.nav-social {
  margin-left: 25px;
  a { color: #888; margin-left: 15px;}
}

a.i_dribbble { &:hover { background-color: #ea4c89; color: white; } }

a.i_codepen { &:hover { background-color: #222; color: white; } }

a.i_linkedin { &:hover { background-color: #0077B5; color: white; } }

.hero-patterns {
  //background-color: #FF5D5D;
  width: 100%;
  height: 100%;
  max-width: 1240px + 40px;
  padding-top: 96px;
}


.hero-case {
  width: 100%;
  display: flex;
  justify-content: center;
  &.patterns {
    background: linear-gradient(45deg, #ff5d5d 0%,#f54985 100%);
  }
  &.sc {
    background: linear-gradient(45deg, #208be6 0%,#5e55fb 100%);
  }
  &.ifit {
    background: #38383D;
  }
  &.about {
    height: 400px;
    background: #D84B6E;
    color: #FFF;
    margin-bottom: 80px;
    @media (min-width: 500px) {
      height: 500px;
    }
    &.res {
      height: 350px;
    }
  }
  &.blog {
    height: 250px;
    background: #D84B6E;
    color: #FFF;
    margin-bottom: 80px;
    @media (min-width: 500px) {
      height: 300px;
    }
  }
}

// Block: .about
.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  .case-intro {
    margin: 40px 0 90px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1290px;
    padding: 0 25px;
    .quick-info-b { min-width: auto; }
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  h1, .subtitle {}
  p, h3, h2, h4, table, .media, .a-logo, ul, h5 {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 732px;
    width: 100%;
  }
  .skills {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1232px;
    width: 100%;
  }
  h1 {
    font-size: 30px;
    font-family: "brothers", sans-serif;
    color: #FFF;
    line-height: 1.4;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 732px;
    width: 100%;
    margin-top: 20px;
    @media (min-width: 500px) {
      font-size: 40px;
    }
  }
  .subtitle {
    font-family: "SomeType Mono", monospace;
    font-size: 18px;
    margin-top: 8px;
    padding: 0;
  }
  h5 {
    font-family: "SomeType Mono", monospace;
    font-size: 18px;
    margin-bottom: 18px;
    margin-top: 4px;
  }
  h2 {
    font-family: "brothers", sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 26px;
  }
  h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 4px;
  }
  h4 {
    font-weight: bold;
    font-size: 22px; line-height: 1.7; color: #202020;
    margin-top: 26px;
  }
  hr + h4 { margin-top: 0; }
  ul {
    margin-bottom: 20px;
  }
  li {
    font-size: 22px; line-height: 1.7; color: #202020;
    margin: 5px 0 20px;

      &:before {
        content: "\2022";
        position: absolute;
        left: 0px;
      }
      padding-left: 22px;
      position: relative;
  }
  p {
    font-size: 22px; line-height: 1.7; color: #202020;
    margin-bottom: 40px;
    + h3 { margin-top: 26px; }
    + h2 { margin-top: 30px; }
    img {
      margin-bottom: 20px;
      margin-top: 20px;
      width: 100%;
      max-width: 1240px;
      position: relative;
      left: 0;
      overflow: hidden;
      @media (min-width: 1240px) {
        width: auto;
        left: (1240 - 700)/2 * -1px;
      }
    }
  }



  a { color: #555; padding: 0 2px; margin: 0 -1px; }
}

.cases-mini {
  background: #222;
  width: 100%;
  color: #fff;
  .card { background-color: #38383D; color: #fff; }
  h3 { margin-top: 8px; background: none; color: #fff; &:hover { color: #aaa; background: none; }}
  .bold { color: #fff;  }
}

// Block: .case
.case {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  .case-intro {
    margin: 40px 0 90px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1290px;
    padding: 0 25px;
    .quick-info-b { min-width: auto; }
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  h1, .subtitle {}
  p, h3, h2, h4, table {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 732px;
    width: 100%;
  }
  h1 {
    font-size: 52px;
    font-family: "brothers", sans-serif;
    font-weight: bold;
  }
  .subtitle {
    font-family: "SomeType Mono", monospace;
    font-size: 18px;
    margin-top: 8px;
    padding: 0;
  }
  h2 {
    font-family: "brothers", sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 4px;
  }
  h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 4px;
  }
  h4 {
    font-weight: bold;
    font-size: 22px; line-height: 1.7; color: #202020;
    margin-top: 26px;
  }
  p {
    font-size: 22px; line-height: 1.7; color: #202020;
    margin-bottom: 40px;
    + h3 { margin-top: 26px; }
    + h2 { margin-top: 30px; }
    img {
      margin-bottom: 20px;
      margin-top: 20px;
      width: 100%;
      max-width: 1240px;
      position: relative;
      left: 0;
      overflow: hidden;
      @media (min-width: 1240px) {
        width: auto;
        left: (1240 - 700)/2 * -1px;
      }
    }
  }



  a { color: #555; padding: 0 2px; margin: 0 -1px; }
}

.persona-container {
  padding: 50px;
  width: 100%;
  max-width: 1240px;
  margin: 15px 15px 30px;
  background: #38383D;
}

em {
  font-family: "SomeType Mono", monospace;
  color: #555;
  font-size: 16px;
  display: block;
}

hr {
  height: 1px;
  border: none;
  background: #ddd;
  margin-bottom: 40px;
  width: 100%;
}

.case em { margin-top: -20px; }

strong {
  font-weight: 700;
}

.note {
  background: #f5f0f0;
  padding: 25px 9px;
  margin-bottom: 60px;
  p { max-width: 732 - 50px; font-size: 16px; margin-bottom: 0; }
  h4 { font-family: "brothers", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 8px;
    text-transform: uppercase;
  }
}

table {
  display: block;;
}

th, td {
  text-align: left;
  padding: 16px 0;
} th { font-weight: bold; padding-right: 24px; }

tr {
  border-top: 1px solid #ddd;
  padding-bottom: 3px;
}



.media {
  margin-top: 70px;
  display: flex;
}

.media-left {
  margin: 0 70px 15px 0;
  @media (min-width: 570px) { margin: 0 70px 0 15px; float: left; }
}


.a-logo {
  position: relative;
  left: 16px;
  margin-bottom: -18px;
  margin-top: 22px;
}

.logo-attn {
  background-image: url('/images/misc/attn.png');
  background-repeat: no-repeat;
  height: 25px;
}

.logo-oz {
  background-image: url('/images/misc/ozge.png');
  background-repeat: no-repeat;
  height: 32px;
  background-size: 58px 32px;
}

.logo-fl {
  background-image: url('/images/misc/freelance.png');
  background-repeat: no-repeat;
  width: 70px;
  height: 43px;
  background-size: 70px 43px;
}

.logo-ifit {
  background-image: url('/images/misc/ifit.png');
  background-repeat: no-repeat;
  height: 31px;
}

.logo-ucf {
  background-image: url('/images/misc/ucf.png');
  background-repeat: no-repeat;
  height: 43.3px;
  background-size: 40px 43.3px;
  display: none;
  @media (min-width: 570px) { display: block; }
}

.skills {
  display: flex;
  background: #f5f0f0;
  padding: 12px 12px 0;
  margin: -15px 0 40px;
}

.skill {
  font-size: 18px;
  font-family: "SomeType Mono", monospace;
  color: #555;
  .skill-list & { line-height: 2; }
} .skill-list {
  margin: 0 15px 30px;
  width: 100%;
  display: inline-block;
  position: relative;
} .skill-title {
  font-family: "adelle-sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #202020;
  margin-top: 8px;
  margin-bottom: 0px;
} .skill-btn {
  overflow: hidden;
  margin-bottom: 12px;
}

.exp { margin-top: 70px; }
