$body-bg-color:       #FFF;
$tree-bg-color:       #FFF;
$tree-bg-color-hover: #F5F0F0;
$tree-border-color:   #FFF;
$tree-text-color:     #1F1F1F;



.tree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  @media (min-width: 1190px) {
    flex-direction: row;
  }
  span {
    background: $tree-bg-color;
    //box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
    color: $tree-text-color;
    border-radius: 8px;
    padding: 8px 20px;
    display: flex;
    margin: 20px;
    align-items: center;
    position: relative;
    line-height: 1.2;
    text-align: left;
  }
  .p, .np {
    display: flex;
    align-content: center;
    flex-direction: column;
    @media (max-width: 1189px) {
      align-items: center;
    }
    @media (min-width: 1190px) {
      flex-direction: row;
    }
  }

  .first, .second, .third {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .first {
    align-items: center;
  }

  @media (min-width: 1190px) {
    span:before {
      content: "";
      width: 40px;
      height: 3px;
      background-color: rgba($tree-border-color,.70);
      position: absolute;
      left: -40px - 1px;
      top: 0;
      bottom: 0;
      margin: auto;
      .first > .p > & { display: none; }
    }
  }

  span {
    min-width: 240px;
    max-width: 350px;
    a { font-weight: 600; line-height: 1.2; color: white; text-decoration: none; &:hover { color: red; }}
  }

  span:hover {
    background: $tree-bg-color-hover;
    + .second span { background: $tree-bg-color-hover; }
    + .third span { background: $tree-bg-color-hover; }
  }


  &.sitemap {
    span {
      justify-content: center;
      text-align: center;
    }
  }

  .key {
    position: absolute;
    //top: $scale--1;
    //right: $scale--1;
    background: $tree-bg-color;
    color: #FFF;
    border: 2px solid red;
    border-radius: 8px;
    padding: 8px 20px;
    @media (max-width: 1020px) { display: none; }
  }

  .focus {
    color: #FFF;
    border: 2px solid red;
  }

}



.first > .p > span:before { display: none; }







.lo {
  color: white;
  border: 1px solid $tree-border-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $tree-bg-color;
  max-width: 800px;
  width: 100%;
  justify-content: center;
  border-radius: 8px;
}

.lo-figure {
  display: flex;
  width: 100%;
  justify-content: center;
}

.lo-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  color: #999;
}

.lo-banner {
  width: 100%;
  border-top: 1px solid $tree-border-color;
  border-bottom: 1px solid $tree-border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 0;
}

.lo-desc {
  width: 40%;
  border: 1px solid $tree-border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
  margin: 12px 0 0;
}

.lo-ri {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}
