{% include header-mini.html %}
    <div class="case">
      {{ content }}

      <h2>All UX Case Studies</h2>
      <br>
      <div class="cases-mini">
        <br>
        <div class="card">
          <img class="home_iamge" src="/images/homepage_patterns.png" alt="ATTN: Design System" width="2280" height="690"/>
          <a href="/design_system"><h3 class="card-title"><span class="bold">ATTN: Design System</span> – Formal UI Library seen by 11 million users a month.</h3></a>
        </div>
        <div class="card">
          <img class="home_iamge" src="/images/homepage_ads.png" alt="ATTN: Design System" width="1555" height="478" />
          <a href="/sponsored_content"><h3 class="card-title"><span class="bold">ATTN: Sponsored Content</span> – Styling and flow for direct-sold revenue campaigns.</h3></a>
        </div>
        <div class="card">
          <img class="home_iamge" src="/images/homepage_ifit.png" alt="ATTN: Page Templates" width="1555" height="478" />
          <a href="/ifit"><h3 class="card-title"><span class="bold">iFit Registration</span> – User flow for account creation.</h3></a>
        </div>
      </div>


    </div>
    {% include foot.html %}
  </body>
</html>
